table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid grey;
}

td, th {
    padding: 5px;
}

form {
    width: 300px;
    align-content: space-between;
}

button {
    margin: 5px;
}

button a {
    text-decoration: none;
    color: black;
}